<div class="app-main">
  {{partial "header"}}
  <div class="row">
    <header class="main-column">
      <h1>Account Profile</h1>
      <button class="btn save-button">Update Profile</button>
      <h3>Update your account information</h3>
    </header>
  </div>
  <div class="row">
    <div class="main-column form-group">
      <label for="username">Username</label>
      <input type="text" class='form-control' value="{{username}}">
    </div>
  </div>
  <div class="row">
    <div class="main-column form-group">
      <label for="email">Email</label>
      <input type="text" class='form-control' value="{{email}}">
    </div>
  </div>
  <div class="row">
    <div class="main-column form-group password">
      <label for="password" class='password-label'>Password</label>
      <a href="#">Forgot password?</a>
      <input type="text" class='form-control'>
    </div>
  </div>
  <div class="row">
    <div class="main-column">
      <label>Avatar</label>
      <div class="list-item-double avatar">
        <div class="list-item-double-prefix">
          <img src="assets/images/avatar-active.png">
          <span>Pretty Woman</span>
        </div>
        <div class="list-item-double-name">
          <a href="#"><span>Randomize my Avatar</span></a>
          <div class="select-wrapper dark">
            <select id="avatar-select">
              <option>Some Avatar</option>
              <option>Another Avatar</option>
            </select>
            <label for="avatar-select">
              <span class="glyphicon glyphicon-triangle-bottom select-triangle"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <header class="main-column">
      <h1>Software History</h1>
      <h3>Revert back to previous software versions</h3>
    </header>
  </div>
  {{#each sketchHistory in model.sketchHistory}}
    {{#if sketchHistory.sketchId}}
      {{sketch-history
        sketchHistory=sketchHistory
        restore='restore'
      }}
    {{/if}}
  {{/each}}
  <hr>
  <div class="row">
    <div class="main-column">
      <div class="list-item">
        <span class="list-item-name">Restore to default</span>
        <button class="btn save-button list-item-suffix" {{action 'restore' "default"}}>Restore</button>
      </div>
    </div>
  </div>
</div>
