<div class="app-main">
  {{partial "header"}}
  <div class="row">
    <div class="main-column">
      <div id="pattern-grid-controls">
        <div id="controls">
          <a {{action 'startMotors'}} id="play-pause-wrapper">
            <span class="glyphicon glyphicon-play playback-btn"></span>
            <span class="playback-btn-label">Let's play!</span>
          </a>
        </div>
        {{frames-graph frames=frames}}
      </div>
    </div>
  </div>
  <div class="row">
    <header class="main-column">
      <h1>Set The Mood</h1>
      <button class="btn save-button">Save To Toy</button>
    </header>
  </div>

  <div class="row">
    <div class="main-column">
      <div class="list-item col motorTwo">
        <div class="range-wrapper">
          <label>Amplitude</label>
          {{slider-input
            data=baseData
            leftHandleValue=sineWaveOne.percentAmplitudeMin
            rightHandleValue=sineWaveOne.percentAmplitudeMax
            leftHandleValueChangeEnded='minAmplitudeOneChanged'
            rightHandleValueChangeEnded='maxAmplitudeOneChanged'
            rangeLineColor=sineWaveOne.color}}
        </div>
        <div class="range-wrapper">
          <label>Frequency</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveOne.cyclesPerSecond
            rightHandleValueChangeEnded='frequencyOneChanged'
            rangeLineColor=sineWaveOne.color}}
        </div>
        <div class="range-wrapper">
          <label>Shift</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveOne.percentPhaseShift
            rightHandleValueChangeEnded='shiftOneChanged'
            rangeLineColor=sineWaveOne.color}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-item col motorTwo">
        <div class="range-wrapper">
          <label>Amplitude</label>
          {{slider-input
            data=baseData
            leftHandleValue=sineWaveTwo.percentAmplitudeMin
            rightHandleValue=sineWaveTwo.percentAmplitudeMax
            leftHandleValueChangeEnded='minAmplitudeTwoChanged'
            rightHandleValueChangeEnded='maxAmplitudeTwoChanged'
            rangeLineColor=sineWaveTwo.color}}
        </div>
        <div class="range-wrapper">
          <label>Frequency</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveTwo.cyclesPerSecond
            rightHandleValueChangeEnded='frequencyTwoChanged'
            rangeLineColor=sineWaveTwo.color}}
        </div>
        <div class="range-wrapper">
          <label>Shift</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveTwo.percentPhaseShift
            rightHandleValueChangeEnded='shiftTwoChanged'
            rangeLineColor=sineWaveTwo.color}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-item col motorThree">
        <div class="range-wrapper">
          <label>Amplitude</label>
          {{slider-input
            data=baseData
            leftHandleValue=sineWaveThree.percentAmplitudeMin
            rightHandleValue=sineWaveThree.percentAmplitudeMax
            leftHandleValueChangeEnded='minAmplitudeThreeChanged'
            rightHandleValueChangeEnded='maxAmplitudeThreeChanged'
            rangeLineColor=sineWaveThree.color}}
        </div>
        <div class="range-wrapper">
          <label>Frequency</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveThree.cyclesPerSecond
            rightHandleValueChangeEnded='frequencyThreeChanged'
            rangeLineColor=sineWaveThree.color}}
        </div>
        <div class="range-wrapper">
          <label>Shift</label>
          {{slider-input
            data=baseData
            rightHandleValue=sineWaveThree.percentPhaseShift
            rightHandleValueChangeEnded='shiftThreeChanged'
            rangeLineColor=sineWaveThree.color}}
        </div>
      </div>
    </div>
  </div>
</div>
