<div class="app-main">
  {{partial "header"}}
  <div class="row">
    <div class="main-column">
      <div id="pattern-grid-controls">
        <div id="controls">
          <a {{action 'startMotors'}} id="play-pause-wrapper">
            <span class="glyphicon glyphicon-play playback-btn"></span>
            <span class="playback-btn-label">Let's play!</span>
          </a>
        </div>
        {{motors-graph motorOne=motorOne motorTwo=motorTwo motorThree=motorThree}}
      </div>
      {{frames-graph frames=frames}}
      <h3>FRAMES : {{frames.length}}</h3>
    </div>
  </div>
  <div class="row">
    <header class="main-column">
      <h1>Set The Mood</h1>
      <button class="btn save-button">Save To Toy</button>
    </header>
  </div>
  <div class="row">
    <div class="main-column">
      <div class="list-item">
        <span class="list-item-name">Motor 1</span>
        <span {{action 'toggleOptions'}} class="glyphicon glyphicon-option-vertical list-item-suffix"></span>
      </div>
      <div class="collapse-container">
        <div class="list-item col motorOne">
          <div class="range-wrapper">
            <label>Amplitude</label>
            {{slider-input
              data=baseData
              leftHandleValue=motorOne.percentAmplitudeMin
              rightHandleValue=motorOne.percentAmplitudeMax
              rangeLineColor=motorOne.color}}
          </div>
          <div class="range-wrapper">
            <label>Frequency</label>
            {{slider-input
              data=baseData
              rightHandleValue=motorOne.cyclesPerSecond
              rangeLineColor=motorOne.color}}
          </div>
          <div class="range-wrapper">
            <label>Shift</label>
            {{slider-input
              data=baseData
              rightHandleValue=motorOne.percentPhaseShift
              rangeLineColor=motorOne.color}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main-column">
      <div class="list-item col motorTwo">
        <div class="range-wrapper">
          <label>Amplitude</label>
          {{slider-input
            data=baseData
<<<<<<< HEAD
            leftHandleValue=motorTwo.percentAmplitudeMin
            rightHandleValue=motorTwo.percentAmplitudeMax
            rangeLineColor=motorTwo.color}}
=======
            leftHandleValue=sineWaveOne.percentAmplitudeMin
            rightHandleValue=sineWaveOne.percentAmplitudeMax
            rangeLineColor=sineWaveOne.color}}
>>>>>>> Provide frames to frames-graph
        </div>
        <div class="range-wrapper">
          <label>Frequency</label>
          {{slider-input
            data=baseData
<<<<<<< HEAD
            rightHandleValue=motorTwo.cyclesPerSecond
            rangeLineColor=motorTwo.color}}
=======
            rightHandleValue=sineWaveOne.cyclesPerSecond
            rangeLineColor=sineWaveOne.color}}
>>>>>>> Provide frames to frames-graph
        </div>
        <div class="range-wrapper">
          <label>Shift</label>
          {{slider-input
            data=baseData
<<<<<<< HEAD
            rightHandleValue=motorTwo.percentPhaseShift
            rangeLineColor=motorTwo.color}}
=======
            rightHandleValue=sineWaveOne.percentPhaseShift
            rangeLineColor=sineWaveOne.color}}
>>>>>>> Provide frames to frames-graph
        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD
  <div class="row">
    <div class="main-column">
      <div class="list-item col motorThree">
        <div class="range-wrapper">
          <label>Amplitude</label>
          {{slider-input
            data=baseData
            leftHandleValue=motorThree.percentAmplitudeMin
            rightHandleValue=motorThree.percentAmplitudeMax
            rangeLineColor=motorThree.color}}
        </div>
        <div class="range-wrapper">
          <label>Frequency</label>
          {{slider-input
            data=baseData
            rightHandleValue=motorThree.cyclesPerSecond
            rangeLineColor=motorThree.color}}
        </div>
        <div class="range-wrapper">
          <label>Shift</label>
          {{slider-input
            data=baseData
            rightHandleValue=motorThree.percentPhaseShift
            rangeLineColor=motorThree.color}}
        </div>
=======
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="list-item col motorTwo">
      <div class="range-wrapper">
        <label>Amplitude</label>
        {{slider-input
          data=baseData
          leftHandleValue=sineWaveTwo.percentAmplitudeMin
          rightHandleValue=sineWaveTwo.percentAmplitudeMax
          rangeLineColor=sineWaveTwo.color}}
      </div>
      <div class="range-wrapper">
        <label>Frequency</label>
        {{slider-input
          data=baseData
          rightHandleValue=sineWaveTwo.cyclesPerSecond
          rangeLineColor=sineWaveTwo.color}}
      </div>
      <div class="range-wrapper">
        <label>Shift</label>
        {{slider-input
          data=baseData
          rightHandleValue=sineWaveTwo.percentPhaseShift
          rangeLineColor=sineWaveTwo.color}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="list-item col motorThree">
      <div class="range-wrapper">
        <label>Amplitude</label>
        {{slider-input
          data=baseData
          leftHandleValue=sineWaveThree.percentAmplitudeMin
          rightHandleValue=sineWaveThree.percentAmplitudeMax
          rangeLineColor=sineWaveThree.color}}
      </div>
      <div class="range-wrapper">
        <label>Frequency</label>
        {{slider-input
          data=baseData
          rightHandleValue=sineWaveThree.cyclesPerSecond
          rangeLineColor=sineWaveThree.color}}
      </div>
      <div class="range-wrapper">
        <label>Shift</label>
        {{slider-input
          data=baseData
          rightHandleValue=sineWaveThree.percentPhaseShift
          rangeLineColor=sineWaveThree.color}}
>>>>>>> Provide frames to frames-graph
      </div>
    </div>
  </div>
</div>
