<div class="row">
  <div class="main-column">

    {{#if showOptions}}
      <div class="collapse-container">
        <div class="list-item col">
          <div class='pattern-controller'>
            <span>{{pattern.description}}</span>
            {{#if pattern.active}}
              <span {{action 'toggleActive'}}>CLOSE</span>
            {{else}}
              <span {{action 'toggleActive'}}>OPEN</span>
            {{/if}}
          </div>
          {{#if pattern.active}}
            {{#each controlOption in pattern.controlOptions}}
              <div class="range-wrapper">
                <label>{{controlOption.pretty_name}}</label>
                  {{slider-input
                    data=controlOption
                    rightHandleValue=controlOption.value
                    maxValue=controlOption.max
                    minValue=controlOption.min
                    rightHandleValueChangeEnded='highOptionValueChanged'
                    leftHandleValueChangeEnded='lowOptionValueChanged'
                    rangeLineColor=controlOption.color
                  }}
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
