<div class="app-main">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {{#if session.isAuthenticated}}
        {{port-picker chooseDevice='chooseDevice'}}
      {{/if}}
    </div>
    <div class="col-md-4 greeting">
      <p>Hello beautiful!</p>
      {{#if session.isAuthenticated}}
        <a {{ action 'myAccount'}}>My Account</a> |
        <a {{ action 'invalidateSession' }}>Sign Out</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
        {{#link-to 'users.new'}}Sign Up{{/link-to}}
      {{/if}}
    </div>
  </div>
  {{outlet}}
</div>
