<div class="container-fluid">
  <div class='main-nav'>
    <div class='button comingle-btn'>
      <span>Comingle</span>
      {{!-- <img src="assets/images/logo.png"> --}}
    </div>
    {{#link-to 'quicky'}}
      <div {{bind-attr class=':button quickyIsActive:active'}}>
        <span>QUICKY</span>
        {{!-- <img src="assets/images/logo.png"> --}}
      </div>
    {{/link-to}}

    {{#link-to 'get_intimate'}}
      <div {{bind-attr class=':button getIntimateIsActive:active'}}>
        <span>GET INTIMATE</span>
        {{!-- <img src="assets/images/logo.png"> --}}
      </div>
    {{/link-to}}

    <div {{bind-attr class=':button accessoryIsActive:active'}}>
      <span>ACCESSORY</span>
      {{!-- <img src="assets/images/logo.png"> --}}
    </div>
    <div {{bind-attr class=':button myAccountIsActive:active'}}>
      <span>MY ACCOUNT</span>
      {{!-- <img src="assets/images/logo.png"> --}}
    </div>
  </div>

  <div class='sub-nav'>
    <div>HELLO BEAUTIFUL!</div>
    {{#if session.isAuthenticated}}
      <a {{ action 'invalidateSession' }}>SIGN OUT</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
      {{#link-to 'users.new'}}Sign Up{{/link-to}}
    {{/if}}
  </div>

  <div class='container-fluid main-outlet'>
    {{!port-picker serialObj=serialObj chooseDevice='chooseDevice'}}
    {{outlet}}
  </div>
</div>
