<button {{action 'startMotors'}}>Lets Play</button>
<button {{action 'stopMotors'}}>Stop Playin'</button>
{{motors-graph motorOne=motorOne motorTwo=motorTwo motorThree=motorThree}}

<div class='motorOne'>
  {{!-- <div>{{motorOne.percentAmplitude}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input leftHandleValue=motorOne.percentAmplitudeMin rightHandleValue=motorOne.percentAmplitudeMax rangeLineColor=motorOne.color}}</div>
  {{!-- <div>{{motorOne.cyclesPerSecond}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorOne.cyclesPerSecond rangeLineColor=motorOne.color}}</div>
  {{!-- <div>{{motorOne.percentPhaseShift}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorOne.percentPhaseShift rangeLineColor=motorOne.color}}</div>
</div>
<hr>
<div class='motorTwo'>
  {{!-- <div>{{motorTwo.percentAmplitude}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input leftHandleValue=motorTwo.percentAmplitudeMin rightHandleValue=motorTwo.percentAmplitudeMax rangeLineColor=motorTwo.color}}</div>
  {{!-- <div>{{motorTwo.cyclesPerSecond}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorTwo.cyclesPerSecond rangeLineColor=motorTwo.color}}</div>
  {{!-- <div>{{motorTwo.percentPhaseShift}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorTwo.percentPhaseShift rangeLineColor=motorTwo.color}}</div>
</div>
<hr>
<div class='motorThree'>
  {{!-- <div>{{motorThree.percentAmplitude}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input leftHandleValue=motorThree.percentAmplitudeMin rightHandleValue=motorThree.percentAmplitudeMax rangeLineColor=motorThree.color}}</div>
  {{!-- <div>{{motorThree.cyclesPerSecond}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorThree.cyclesPerSecond rangeLineColor=motorThree.color}}</div>
  {{!-- <div>{{motorThree.percentPhaseShift}}</div> --}}
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorThree.percentPhaseShift rangeLineColor=motorThree.color}}</div>
</div>

{{outlet}}
